<div class="row">
  <% for post in @posts %>
    <div class="col-3">
      <p><%= post["author"] %></p>
       <p><%= post["body"] %></p>
      <img class="img-fluid" src="<%= post["image"] %>" class="w-full">
     
    </div>
  <% end %>
</div>